@charset 'utf-8';
@font-face {
  font-family: "Katuri";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TmoneyRoundWindRegular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
a {
  text-decoration: none !important;
}
:root {
  --font1: "TmoneyRoundWindRegular";
  --font2: "Katuri";
  --font3: "Cafe24Ssurround";
}
.mw {
  max-width: 1300px;
  width: calc(100% - 1rem);
  margin: auto;
}
/* 헤더 */
.hd_wrap {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  background-color: #aeaeae40;
}
.hd_wrap .hd {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hd span img {
  cursor: pointer;
}
/* 메인 top */
.mainTop_wrap {
  position: relative;
  background-image: url(/public/img/mainTopBg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mainTop_banner {
  position: relative;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font2);
}
.mainTop_banner h1 {
  font-size: 2.5rem;
}
.mainTop_banner p {
  font-size: 1.25rem;
}
.mainTop_banner::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 0;
  max-width: 272px;
  width: 100%;
  height: 100%;
  max-height: 294px;
  background-image: url(/public/img/mainTopBg_icon1.png);
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate 1s ease-in-out infinite alternate;
}
@keyframes rotate1 {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-2deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(3deg);
  }
}
.mainTop_banner::before {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  max-width: 354px;
  width: 100%;
  height: 100%;
  max-height: 268px;
  background-image: url(/public/img/mainTopBg_icon2.png);
  background-repeat: no-repeat;
  background-position: center;
  animation: rotate1 1s ease-in-out infinite alternate;
}
.mainTop_slide {
  position: absolute;
  bottom: -75px;
  left: 50%;
  transform: translateX(-50%);
}
.mainTop_slide .mainTop_list {
  padding: 0 1rem;
}
.mainTop_slide .swiper-slide {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background-image: url(/public/img/mainTopslide1.png);
  width: 190px;
  height: 150px;
  background-size: cover;
  display: flex;
  font-family: var(--font1);
  font-weight: 700;
}
.mainTop_slide .swiper-slide > a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.mainTop_slide .swiper-slide:nth-child(2) {
  background-image: url(/public/img/chunCheon.png);
}
.mainTop_slide .swiper-slide:nth-child(3) {
  background-image: url(/public/img/samCheok.png);
}
.mainTop_slide .swiper-slide:nth-child(4) {
  background-image: url(/public/img/Taebaek.png);
}
.mainTop_slide .swiper-slide:nth-child(5) {
  background-image: url(/public/img/hoengseong.png);
}
.mainTop_slide .swiper-slide:nth-child(6) {
  background-image: url(/public/img/pyeongchang.png);
}
.mainTop_slide .swiper-slide:nth-child(7) {
  background-image: url(/public/img/cheorwon.jpg);
}
.mainTop_slide .swiper-slide:nth-child(8) {
  background-image: url(/public/img/Yanggu.jpg);
}
.mainTop_slide .swiper-slide:nth-child(9) {
  background-image: url(/public/img/goseong.jpg);
}
.mainTop_slide .swiper-slide:nth-child(10) {
  background-image: url(/public/img/Wonju.png);
}
.mainTop_slide .swiper-slide:nth-child(11) {
  background-image: url(/public/img/donghae.jpg);
}
.mainTop_slide .swiper-slide:nth-child(12) {
  background-image: url(/public/img/sokcho.jpg);
}
.mainTop_slide .swiper-slide:nth-child(13) {
  background-image: url(/public/img/hongcheon.jpg);
}
.mainTop_slide .swiper-slide:nth-child(14) {
  background-image: url(/public/img/yeongwol.jpg);
}
.mainTop_slide .swiper-slide:nth-child(15) {
  background-image: url(/public/img/jeongseon.jpg);
}
.mainTop_slide .swiper-slide:nth-child(16) {
  background-image: url(/public/img/hwacheon.jpg);
}
.mainTop_slide .swiper-slide:nth-child(17) {
  background-image: url(/public/img/inje.jpg);
}
.mainTop_slide .swiper-slide:nth-child(18) {
  background-image: url(/public/img/yangyang.jpg);
}
.mainTop_slide .swiper-slide:nth-child(19) {
  background-image: url(/public/img/map.png);
}
.mainTop_slide .mainTop_TotalTitle {
  color: #fff;
  padding: 1rem;
}
.mainTop_slide .swiper-button-prev::after,
.mainTop_slide .swiper-button-next::after {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
}
.mainTop_slide .swiper-button-prev::after {
  left: -40%;
  background-image: url(/public/img/arrow-left.svg);
}
.mainTop_slide .swiper-button-next::after {
  right: -40%;
  background-image: url(/public/img/arrow-right.svg);
}
.mainTop_slide .mainTop_Title {
  position: absolute;
  background-color: #fff;
  display: flex;
  width: 130%;
  height: 45%;
  padding: 1rem;
  transform: rotateZ(-15deg) translate(-5%, -45%);
  transition: 0.3s;
  box-shadow: 0px 0px 20px #fff;
}

.mainTop_slide .swiper-slide:hover .mainTop_guide {
  display: flex;
}
.mainTop_Title .mainTop_guide {
  position: absolute;
  font-size: 0.5rem;
  display: none;
  align-items: center;
  top: 60%;
  right: 25%;
  color: #525252;
}
.mainTop_Title .mainTop_guide img {
  width: 15px;
  margin-left: 4px;
}
.mainTop_list .swiper-slide:hover .mainTop_Title {
  transform: rotateZ(0deg);
}
.mainTop_list .swiper-slide:hover .mainTop_Title span {
  padding: 0.5rem;
  transform: rotateZ(0deg);
}
.mainTop_slide .mainTop_Title span {
  padding: 0.5rem 1rem;
  /* transform: rotateZ(15deg); */
}
.mainTop_slide .areaNameT {
  position: absolute;
  z-index: 1;
  top: 13%;
  left: 13%;
}
/* 메인 슬라이드 */
.MainKeyword_wrap {
  margin-top: 160px;
}
.MainKeyword {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: var(--font1);
}

.MainKeyword h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.MainKeyword ul {
  margin-bottom: 30px;
  padding: 0;
  display: flex;
}
.MainKeyword ul li {
  font-weight: bold;
  padding: 0.5rem;
  cursor: pointer;
  color: #aeaeae;
}
/* 상품 카드 */
.keyword_slide {
  padding: 1rem !important;
  /* background-color: aqua; */
}
.keyword_slide .swiper-button-prev::after,
.keyword_slide .swiper-button-next::after {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  padding: 1rem;
  border-radius: 50%;
}
.keyword_slide .swiper-button-prev::after {
  left: -40%;
  background-image: url(/public/img/arrow-left.svg);
}
.keyword_slide .swiper-button-next::after {
  right: -40%;
  background-image: url(/public/img/arrow-right.svg);
}
.Listcard {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px #00000050;
  width: 290px;
  height: 340px;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card_link {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.Listcard:hover .cardImg img {
  filter: brightness(50%);
}
.Listcard:hover .card_detail {
  position: absolute;
  background-color: #fff;
  height: 60%;
  width: 100%;
  transition: 0.3s;
  bottom: 0;
}
.Listcard:hover .card_detail .card_content {
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card_detail {
  padding: 0.5rem;
  position: relative;
  height: 45%;
  /* bottom: 0; */
  font-family: var(--font1);
}
.Listcard .cardImg {
  padding: 6rem 0;
  overflow: hidden;
  position: relative;
}
.Listcard .cardImg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_detail .card_title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}
.card_detail p {
  font-size: 0.75rem;
  margin: 0.2rem 0;
  display: flex;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_detail p > span:nth-of-type(2) {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card_detail p > * {
  margin-right: 0.25rem;
}
.card_detail .card_keyword {
  position: absolute;
  bottom: 8px;
  left: 8px;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
  text-overflow: ellipsis;
}
.card_detail .card_keyword span {
  margin-right: 0.2rem;
  font-size: 0.75rem;
}
.card_detail p > img {
  width: 16px;
}
.card_part {
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0.25rem;
  font-size: 0.75rem;
  background-color: #67c3e7;
  width: 100%;
  text-align: center;
  max-width: 70px;
  color: #fff;
}
.card_detail .card_content {
  display: none;
}
.MainKeyword ul li.selected {
  color: #000;
}
/* 메인 병원 */
.MainHospital {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  padding: 1rem;
  background-color: #b9d6f4;
  font-family: var(--font1);
  width: calc(100% - 1rem);
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 10px #00000050;
}
.MainHospital .MainHospitalIcon {
  height: 100%;
  z-index: 1;
}
.MainHospital_detail {
  height: 100%;
  width: 100%;
  z-index: 1;
  max-width: 500px;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
}
.MainHospital_detail h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.MainHospital_detail p {
  margin-bottom: 4.75rem;
}
.MainHospital_detail a {
  background-color: #78badb;
  width: 180px;
  color: #fff;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-family: var(--font1);
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 5px #00000050;
}
.MainHospital_detail a:hover {
  box-shadow: 0 0 10px #00000050;
  color: #000;
}
.MainHospital_detail a:hover img {
  padding: 0.85rem 0.75rem 0.85rem 0.75rem;
  transition: 0.3s;
  background-color: #fff;
}
.MainHospital_detail img {
  position: absolute;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0.85rem 0.75rem;
  background-color: #ffffff90;
  border-radius: 1rem 0 0 1rem;
}
.MainHospitalBg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
/* footer */
footer {
  width: 100%;
  background-color: #b9d6f4;
}
.ft_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 1rem;
}
.ft_wrap > a > img {
  width: 80px;
  height: 50px;
}
.ft_github {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
}
.ft_github img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.ft_github > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}
.ft_github > div > p {
  white-space: nowrap;
  margin: 0;
}
/* 지역별 페이지 */
.subBanner {
  padding-top: 100px;
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  margin-bottom: 80px;
}
.subBanner > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.subBanner select {
  font-family: var(--font3);
  width: 150px;
  height: 60px;
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2.5rem;
  text-shadow: 0px 4px 10px #00000050;
  border-bottom: 2px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/public/img/arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: right;
}
.subBanner select::-ms-expand {
  display: none;
}
.subBanner select > option {
  font-size: 1.25rem;
  color: #3a3a3a;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.subBanner .partTitle {
  margin: 0 1rem;
  font-size: 2.5rem;
  width: 180px;
}
.subBanner > span {
  font-family: var(--font3);
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 0px 4px 10px #00000050;
}
/* 식음료 카테고리 */
.no-data {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.no-data img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.no-data.dataMW img {
  position: absolute;
  /* width: 100%; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no-data.dataMW {
  /* margin-top: 200px; */
  /* position: absolute; */
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  height: 36vh;
}
.no-data span {
  font-family: var(--font1);
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.Restaurant_frame {
  width: 100%;
  margin-bottom: 80px;
  position: relative;
}
.Restaurant_frame::after {
  content: "";
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #b9d6f4;
}
.Restaurant_frame .Restaurant_wrap {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}
.Restaurant_wrap .Restaurant_banner {
  width: 100%;
  background-color: #b9d6f4;
  padding: 2.5rem 2rem 2.5rem 0;
  border-radius: 0 1rem 1rem 0;
  max-width: 340px;
}
.Restaurant_wrap .Restaurant_banner h1 {
  font-family: var(--font2);
  text-align: center;
  font-size: 2rem;
  margin-bottom: 6rem;
}
.Restaurant_wrap .Restaurant_banner img {
  width: 100%;
}
.Restaurant_content {
  font-family: var(--font1);
  width: 100%;
  max-width: 900px;
}
.Restaurant_content > p {
  padding-left: 0.6rem;
  color: #3a3a3a;
}
.Restaurant_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Restaurant_detail h1 {
  display: flex;
  align-items: center;
  margin: 0;
}
.Restaurant_detail a {
  color: #000;
  font-weight: bold;
}
.Restaurant_detail a:hover {
  color: #3a3a3a;
  text-shadow: 0 0 5px #00000030;
}
.Restaurant_detail .Restaurant_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.Restaurant_cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 60px;
}
.Restaurant_cards > * {
  margin-left: 30px;
}
.Restaurant_cards > *:nth-of-type(1) {
  margin-left: 0;
}
/* 체험 카테고리 영역 */
.Experience_frame {
  width: 100%;
  margin-bottom: 80px;
  position: relative;
}
.Experience_frame::after {
  content: "";
  right: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #c6e2ff;
}
.Experience_frame .Experience_wrap {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}
.Experience_wrap .Experience_banner {
  width: 100%;
  background-color: #c6e2ff;
  padding: 2.5rem 0rem 2.5rem 2rem;
  border-radius: 1rem 0 0 1rem;
  max-width: 610px;
}
.Experience_wrap .Experience_banner h1 {
  font-family: var(--font2);
  text-align: left;
  font-size: 2rem;
  margin-bottom: 6rem;
}
.Experience_wrap .Experience_banner img {
  width: 100%;
  max-width: 308px;
}
.Experience_content {
  font-family: var(--font1);
  width: 100%;
  max-width: 590px;
}
.Experience_content > p {
  padding-left: 0.6rem;
  color: #3a3a3a;
}
.Experience_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Experience_detail h1 {
  display: flex;
  align-items: center;
  margin: 0;
}
.Experience_detail a {
  color: #000;
  font-weight: bold;
}
.Experience_detail a:hover {
  color: #3a3a3a;
  text-shadow: 0 0 5px #00000030;
}
.Experience_detail .Experience_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.Experience_cards {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.Experience_cards > * {
  /* width: 280px; */
  margin-right: 30px;
}
.Experience_cards > *:nth-of-type(2) {
  margin-right: 0;
}
.Experience_cards > *:nth-of-type(3) {
  display: none;
}
/* .Experience_cards .card_detail p {
  padding: 0 !important;
} */
/* 분야별 리스트 */
.partList_wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.partScroll {
  width: 100%;
}
.partList {
  max-width: 1300px;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-bottom: 80px;
}
.pagination_wrap {
  width: 100%;
}
.pagination_wrap .pagination {
  display: flex;
  justify-content: center;
  width: 100;
}
.pagination_wrap .pagination .page-link {
  color: #3a3a3a;
  font-family: var(--font1);
  padding: 0.2rem 0.5rem;
}
.pagination_wrap .pagination .page-link:focus {
  box-shadow: 0px 0px 3px #00000030;
}
/* 디테일 페이지 */
.detailTop_wrap {
  font-family: var(--font1);
  border-radius: 1rem;
  margin: 200px 0 80px 0;
  display: flex;
  /* justify-content: space-between; */
  padding: 2rem;
  background-color: #eaf4ff;
  box-shadow: 0 0 10px #00000050;
  color: #3a3a3a;
  position: relative;
}
.detailTop_wrap::after {
  position: absolute;
  content: "";
  background-image: url(/public/img/detailPageImg1.png);
  width: 209px;
  height: 209px;
  bottom: 0;
  right: 0;
}
.detailTop_wrap .detailTop {
  margin-left: 4rem;
  font-family: var(--font1);
}
.detailTop_wrap .detailTop h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 36px;
}
.detailTop_wrap .detailTop p {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.detailTop_wrap .detailTop p > * {
  width: 100%;
  margin-right: 4px;
  z-index: 1;
}
.detailTop_wrap .detailTop p img {
  width: 20px;
}
.detailTop_wrap .detailTop p span:nth-of-type(1) {
  width: 90px;
  white-space: nowrap;
}
.detailTop_wrap .detailTop p a:nth-of-type(1) {
  color: #3a3a3a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: 500px;
}
.detailTop_wrap .detailTop p a:nth-of-type(1):hover {
  color: #686868;
  border-bottom: 1px solid #686868;
}
.detailTop_wrap .detailTop_img {
  max-width: 490px;
  width: 100%;
}
.detailTop_img .detailTop_slide {
  border-radius: 0.5rem;
}
.detailTop_img .detailTop_slide img {
  width: 100%;
}
.detailTop_img .detailTop_slide .swiper-button-next {
  top: unset;
  bottom: 8px;
  right: 95px;
  width: 40px;
  height: 35px;
  border-radius: 0 1rem 1rem 0;
  background-color: #d9d9d980;
}
.detailTop_img .detailTop_slide .swiper-button-prev {
  top: unset;
  bottom: 8px;
  left: unset;
  right: 135px;
  width: 40px;
  height: 35px;
  border-radius: 1rem 0 0 1rem;
  background-color: #d9d9d980;
}
.detailTop_img .detailTop_slide .swiper-button-next::after {
  content: "";
  background-image: url(/public/img/arrow-rightW.svg);
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.detailTop_img .detailTop_slide .swiper-button-prev::after {
  content: "";
  background-image: url(/public/img/arrow-leftW.svg);
  width: 30px;
  height: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.detailTop_img .detailTop_slide .swiper-pagination {
  background-color: #d9d9d980;
  width: auto;
  left: unset;
  right: 8px;
  top: unset;
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
}
/* 디테일 하위 소개 */
.detailBottom {
  width: 100%;
}
.detailBottom .detailSub {
  width: 100%;
  font-family: var(--font1);
  margin-bottom: 40px;
}
.detailSub h2 {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  position: relative;
}
.detailSub h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #000;
  bottom: -8px;
}
.detailSub h2 span {
  margin-left: 4px;
}
.detailSub .detailBox {
  padding: 1rem 1.5rem;
}
.detailSub .detailBox p {
  display: flex;
  align-items: center;
}
.detailSub .detailBox .detailIcon {
  width: 12px;
  margin-right: 4px;
}
/* 디테일 페이지 근처 추천 파트 슬라이드 */
.detailBox .detail_recommendWrap {
  padding: 0.5rem;
}
.detail_recommendWrap .swiper-slide:hover {
  filter: brightness(80%);
  color: #949494;
}
.detail_recommend {
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 8px #00000050;
}
.detail_recommend img {
  width: 100%;
  height: 200px;
}
.detail_recommend span {
  font-family: var(--font1);
  font-weight: bold;
  padding: 0.5rem;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 검색 모달 */
.searchModal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: #00000070;
}
.modalContent {
  position: relative;
  background-color: #fff;
  max-width: 1200px;
  width: 90%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}
.modalContent .close {
  position: absolute;
  top: 8px;
  right: 8px;
}
.modalContent .close img {
  width: 24px;
}
.modalContent .modalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: var(--font2);
}
.modalContent .modalSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.modalContent .modalSearch input {
  max-width: 350px;
  width: 100%;
  border: none;
  outline: none;
  background-color: #eaeaea;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.8rem;
}
.modalContent .modalSearch input:focus {
  outline: 2px solid #aeaeae;
}
.modalContent .modalKeyword {
  width: 80%;
  display: flex;
  justify-content: center;
}
.modalKeyword .modalSlide {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 20px;
}
.modalKeyword .modalSlide .swiper-button-prev::after {
  font-size: 20px;
  color: #3a3a3a;
}
.modalKeyword .modalSlide .swiper-button-next::after {
  font-size: 20px;
  color: #3a3a3a;
}
.modalKeyword .modalSlide .swiper-slide {
  /* border: 1px solid black; */
}
.modalKeyword .modalSlide .swiper-slide > span {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  cursor: pointer;
  font-family: var(--font1);
  font-weight: bold;
  color: #d9d9d9;
}
.modalKeyword .modalSlide .swiper-slide > span.selected {
  color: #3a3a3a;
}
.modalContent .modalBox_wrap {
  overflow-y: scroll;
  width: 85%;
  height: 100%;
}
.modalContent .modalBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px 20px;
  width: 100%;
  padding: 1rem 2rem;
  /* background-color: #888; */
}
.modalContent .modalBox_wrap::-webkit-scrollbar {
  width: 8px;
  border-radius: 1rem;
  background-color: #eaeaea;
}
.modalContent .modalBox_wrap::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
  border-radius: 1rem;
}
.modalContent .modalBox .modalCard {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 0 5px #00000050;
}
.modalContent .modalBox .modalCard .modalCard_link {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.modalBox .modalCard .modalCard_detail {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
}
.modalBox .modalCard .modalCard_detail > * {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 200px;
  margin-bottom: 2px;
}
.modalBox .modalCard .modalCard_detail h3 {
  font-size: 1rem;
  font-weight: bold;
}
.modalBox .modalCard .modalCard_detail p {
  font-size: 0.75rem;
}
.modalBox .modalCard .modalCard_detail p:nth-child(3) {
  font-size: 0.5rem;
  margin-bottom: 0;
}
.modalBox .modalCard .modalCard_img {
  max-width: 60px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.modalBox .modalCard .modalCard_img img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* 동물병원 위치 서비스 페이지*/
.subBanner .hospitalBg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.subBanner .hospitalBg h2 {
  font-family: var(--font2);
  text-shadow: 0px 0px 10px #00000060;
  color: #fff;
  text-align: center;
  line-height: 1.5;
  font-size: 2.5rem;
}
.subBanner .hospitalBg > img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.hospitalMap {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #b0d3ec;
  border-radius: 1rem;
  padding: 1rem;
  font-family: var(--font1);
  margin-bottom: 50px;
}
.hospitalMap .mapDetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.hospitalMap .mapDetail .mapsearchWrap {
  position: relative;
  width: 60%;
}
.hospitalMap .mapDetail .mapSearch {
  position: relative;
  border-radius: 1rem;
  padding: 1rem;
  max-width: 468px;
  width: 100%;
  height: 580px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mapDetail .mapSearch .hospitalCart_wrap {
  width: 100%;
  overflow-y: scroll;
}
.hospitalMap .mapDetail .mapSearch .hospitalCart_wrap::-webkit-scrollbar {
  width: 8px;
  border-radius: 1rem;
  background-color: #eaeaea;
}
.hospitalMap .mapDetail .mapSearch .hospitalCart_wrap::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
  border-radius: 1rem;
}
.hospitalMap .mapDetail .mapSearch input {
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  box-shadow: 0 0 5px #00000050;
  border: none;
  outline: none;
  width: 80%;
  margin-bottom: 1rem;
}
.hospitalMap .mapDetail .mapSearch .hospitalCart_wrap > div {
  cursor: pointer;
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
  width: 100%;
}
.mapDetail .mapSearch .hospitalCart_wrap > div > h4 {
  font-size: 1.25rem;
  font-weight: bold;
}
.mapDetail .mapSearch .hospitalCart_wrap > div > p {
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-bottom: 4px;
}
.mapDetail .mapSearch .hospitalCart_wrap > div > p > img {
  width: 20px;
}
.mapDetail .mapSearch .hospitalCart_wrap > div > p > span {
  white-space: nowrap;
}
.mapDetail .mapSearch .hospitalCart_wrap > div > p > span:nth-of-type(2) {
  display: inline;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hospitalMap .mapDetail .mapRender {
  border-radius: 1rem;
  width: 100%;
  max-width: 764px;
  max-height: 580px;
}
.mapSearchOpen {
  position: absolute;
  right: -32px;
  top: 50%;
  transform: translateY(-50);
  border: none;
  background-color: #fff;
  border-radius: 0 1rem 1rem 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
  z-index: 5;
}
.mapSearchOpen img {
  width: 16px;
  height: 16px;
}
@media (max-width: 1100px) {
  /* 지역별 페이지 */
  .no-data {
    height: 100%;
  }
  .Restaurant_frame::after {
    display: none;
  }
  .Restaurant_wrap .Restaurant_banner {
    display: none;
  }
  .Restaurant_content {
    max-width: 1100px;
    height: 484px;
  }
  .Restaurant_detail a {
    padding-right: 1rem;
  }
  .Restaurant_cards {
    justify-content: center;
    height: 100%;
  }
  .Restaurant_cards > * {
    margin-left: 30px;
  }
  .Experience_frame::after {
    display: none;
  }
  .Experience_wrap .Experience_banner {
    display: none;
  }
  .Experience_cards > *:nth-of-type(2) {
    margin-right: 30px;
  }
  .Experience_cards > *:nth-of-type(3) {
    display: block;
    margin-right: 0;
  }
  .Experience_content {
    max-width: 1100px;
    height: 484px;
  }
  .Experience_detail a {
    padding-right: 1rem;
  }
  .Experience_cards {
    justify-content: center;
  }
  /* 디테일 페이지 */
  .detailTop_wrap {
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
  }
  .detailTop_wrap .detailTop_img {
    max-width: none;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .detailTop_wrap .detailTop {
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 640px) {
  /* 헤더 */
  .hd_wrap .hd {
    padding: 0.5rem;
  }
  .hd_wrap .hd h1 img {
    height: 50px;
  }
  .hd_wrap .hd span img {
    height: 30px;
  }
  /* 메인 배너 */
  .mainTop_banner h1 {
    font-size: 1.5rem;
  }
  .mainTop_banner p {
    font-size: 0.75rem;
  }
  .mainTop_banner {
    padding-top: 100px;
    height: 280px;
  }
  .mainTop_banner::after {
    display: none;
  }
  .mainTop_banner::before {
    display: none;
  }
  /* 메인 링크 리스트 */
  .mainTop_slide {
    bottom: -50px;
  }
  .mainTop_slide {
    background-position: center;
  }
  .mainTop_slide .mainTop_TotalTitle {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75rem;
  }
  .mainTop_slide .swiper-slide {
    width: 60px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000050;
    filter: contrast(100%);
  }
  .mainTop_slide .swiper-slide:hover {
    filter: brightness(70%);
  }
  .mainTop_slide .mainTop_Title {
    display: none;
  }
  .mainTop_slide .areaNameT {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 0.8rem;
    text-shadow: 0 0 3px #000;
    z-index: 0;
  }
  /* 키워드 슬라이드 */
  .MainKeyword_wrap {
    margin-top: 80px;
  }
  .MainKeyword_wrap .MainKeyword h1 {
    font-size: 1.25rem;
  }
  .MainKeyword_wrap .MainKeyword ul li {
    font-size: 0.75rem;
  }
  .Listcard {
    width: 170px;
    height: 216px;
  }
  .Listcard:hover .card_detail .card_content {
    display: none;
  }
  .Listcard .cardImg img {
    height: 100%;
  }
  .Listcard .cardImg {
    padding: 3.5rem 0;
  }
  .card_detail .card_title {
    font-size: 1rem;
  }
  .card_detail p {
    margin: 0.1rem 0;
  }
  .card_detail .card_keyword {
    bottom: 0px;
    left: 8px;
  }
  .card_detail .card_keyword span {
    font-size: 0.5rem;
  }
  /* 메인 병원 링크 */
  .MainHospital {
    margin: 30px auto;
  }
  .MainHospital .MainHospitalIcon {
    height: 120px;
  }
  .MainHospital_detail {
    padding: 1rem;
    max-width: 300px;
  }
  .MainHospital_detail h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .MainHospital_detail p {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }
  .MainHospital_detail a {
    width: 120px;
    font-size: 0.75rem;
    padding: 0.5rem;
  }
  /* 검색모달 */
  .searchModal {
    align-items: end;
  }
  .modalContent {
    width: 100%;
    height: 10px;
    max-height: 80%;
    border-radius: 1rem 1rem 0 0;
    transition: all 0.3s ease-in-out;
  }
  .modalContent.on {
    height: 80%;
  }
  .modalContent .close {
    top: 12px;
    right: 12px;
  }
  .modalContent .close img {
    width: 20px;
  }
  .modalContent .modalTitle img {
    display: none;
  }
  .modalContent .modalTitle {
    font-size: 1.5rem;
    justify-content: left;
    width: 100%;
  }
  .modalContent .modalSearch input {
    font-size: 1rem;
    padding: 0.4rem;
  }
  .modalKeyword .modalSlide .swiper-slide > span {
    font-size: 0.85rem;
  }
  /* 푸터 */
  .ft_wrap {
    height: 60px;
    padding: 0.5rem;
  }
  .ft_wrap > a > img {
    width: 60px;
    height: 40px;
  }
  /* 지역별 페이지 */
  .no-data span {
    font-size: 1.25rem;
  }
  .subBanner {
    padding-top: 60px;
    height: 220px;
    margin-bottom: 30px;
  }
  .Restaurant_frame {
    margin-bottom: 30px;
  }
  .Restaurant_detail .Restaurant_title {
    font-size: 1.25rem;
  }
  .Restaurant_content {
    height: 290px;
  }
  .Restaurant_detail .Restaurant_title img {
    height: 30px;
  }
  .Restaurant_detail a {
    font-size: 0.75rem;
  }
  .Restaurant_cards {
    margin-top: 20px;
  }
  .Experience_frame {
    margin-bottom: 30px;
  }
  .Experience_detail .Experience_title {
    font-size: 1.25rem;
  }
  .Experience_detail a {
    font-size: 0.75rem;
  }
  .Experience_detail .Experience_title img {
    height: 30px;
  }
  .Experience_content {
    height: 290px;
  }
  .Experience_cards {
    margin-top: 20px;
  }
  /* 분야별 페이지 */
  .subBanner.part {
    position: absolute;
    align-items: start;
    flex-direction: column;
    margin-bottom: 0;
  }
  .subBanner.part img {
    filter: brightness(80%);
  }
  .subBanner.part select {
    margin: 0 0.5rem;
    font-size: 1.75rem;
    border-bottom: none;
    width: 150px;
  }

  .subBanner > span {
    display: none;
  }
  .no-data.dataMW {
  }
  .no-data.dataMW img {
    width: 100%;
  }
  .partList_wrap {
    z-index: 1;
    height: 90vh;
  }
  .partScroll {
    border-radius: 1rem;
    padding: 2rem 0.5rem;
    background-color: #fff;
    margin-top: 210px;
  }
  .partList {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    overflow-y: scroll;
    gap: 10px;
    height: 100%;
  }
  .partList::-webkit-scrollbar {
    width: 8px;
    border-radius: 1rem;
    background-color: #eaeaea;
  }
  .partList::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
    border-radius: 1rem;
  }
  /* 디테일 페이지 */
  .detailTop_wrap {
    margin: 100px 0 40px 0;
  }
  .detailTop_wrap .detailTop h1 {
    font-size: 1.25rem;
  }
  .detailTop_wrap .detailTop p {
    font-size: 0.75rem;
  }
  .detail_recommend img {
    height: 110px;
  }
  .detail_recommend span {
    font-size: 0.75rem;
  }
  /* 병원 위치 페이지 */
  .subBanner .hospitalBg h2 {
    font-size: 1.5rem;
  }
  .subBanner .hospitalBg > img {
    width: 200px;
  }
  .hospitalMap h3 {
    font-size: 1.25rem;
  }
  .hospitalMap h3 img {
    width: 30px;
  }
  .hospitalMap .mapDetail .mapsearchWrap {
    width: 0px;
    transition: 0.3s;
  }
  .mapDetail .mapSearch .hospitalCart_wrap > div {
    padding: 0.5rem !important;
  }
  .mapDetail .mapSearch .hospitalCart_wrap > div > h4 {
    font-size: 1rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mapDetail .mapSearch .hospitalCart_wrap > div > p {
    font-size: 0.75rem;
  }
  .hospitalMap .mapDetail .mapSearch input {
    font-size: 0.75rem;
    padding: 0;
    margin: 0.5rem 0;
  }
  .mapDetail .mapSearch .hospitalCart_wrap > div > p img {
    width: 16px;
  }
  .hospitalMap .mapDetail .mapsearchWrap.on .mapSearch input {
    padding: 0.3rem;
  }
  .hospitalMap .mapDetail .mapsearchWrap.on {
    width: 100%;
  }
  .hospitalMap .mapDetail .mapSearch {
    position: absolute;
    padding: 0;
    z-index: 3;
  }
  .hospitalMap .mapDetail .mapRender {
    height: 580px;
  }
  .mapSearchOpen {
    display: flex;
    z-index: 5;
  }
}

@media (max-width: 460px) {
  /* 지역별 페이지 */
  .Restaurant_cards {
    justify-content: space-between;
  }
  .Restaurant_cards > *:nth-of-type(1) {
    margin-left: 15px;
  }
  .Restaurant_cards > *:nth-of-type(2) {
    margin-right: 15px;
  }
  .Restaurant_cards > *:nth-of-type(3) {
    display: none;
  }
  .Experience_cards {
    justify-content: space-between;
  }
  .Experience_cards > *:nth-of-type(1) {
    margin-left: 15px;
  }
  .Experience_cards > *:nth-of-type(2) {
    margin-right: 15px;
  }
  .Experience_cards > *:nth-of-type(3) {
    display: none;
  }
}
